{% extends "blog/base.html" %}
{% load static %} 

{% block title %}Contact{% endblock %}

{% block content %}

<section>
    <div id="contact_container">

            <h4> Hello! You are welcome to contact me. </h4></br>
    
            <h5>E-mail: izabela.magda.granat@gmail.com </br></br>
            Mobile: +48 883 491 667</br></br>
            LinkedIn profile:</h5>
            <div class="link"><a href="https://www.linkedin.com/in/izabela-granat-157069114/" target="_blank"><img src="{% static "linkedin.svg" %}"/></a></div>

    </div>

</section>


{% endblock %}