{% extends "blog/base.html" %}
 

{% block title %}Idea for the website{% endblock %}

{% block content %}

<section>

<div id="idea_container"><h2>Idea for the website</h2></br>
<h5> This webside was designed for personal portfolio purpose and is the 
combination of author's professional and private interests - Python programming and personal growth through every-day habits.
The platform will evolve together with author's skillset.
</br></br>

It is planned to continually work on this website to create fully-functional platform where 
users could add own chalanges, monitor their progress, invite people to their challanges,
set real prize for achieved milestones (missions), write reviews for completed challanges, 
announce resolutions using social media, get places in the rankings, etc.</br></br>
The Platform will soon have some paid funtionalities to develop ONLINE SHOP.</br></br>

The platform "Challange Yourself" is inspired by other similar platforms like Habitica and BestYou 
but will have the rules and functionalities which are missing on mentioned platforms.

  
</div>

</section>


{% endblock %}